body{
  background-color:black;
}
h1{
  color: white;
  font-family: papyrus;
  font-size: 52px;
  text-align:center;
  padding: 20px;
}
h2{
  color: gold;
  font-family: hotel;
  font-size: 32px;
  padding: 16px;
}

p{
  color: lightgrey;
  font-family: garamond;
  font-size: 18px;
  font-weight:bold;
  margin-right: 200px;
}
